{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "indent": "off",
    "no-use-before-define": 0,
    "no-param-reassign": "off",
    "arrow-parens": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "no-unused-vars": "warn",
    "react/prefer-stateless-function": "off",
    "react/jsx-wrap-multilines": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "max-len": "off",
    "react/jsx-indent": "off",
    "react/forbid-prop-types": "off",
    "react/no-did-mount-set-state": "off",
    "function-paren-newline": "off",
    "prefer-destructuring": "off",
    "react/jsx-curly-brace-presence": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "prefer-rest-params": "off",
    "no-useless-computed-key": "off"
  }
}
