@import './vendor/font-awesome.min.css'; // http://fontawesome.io/
@import './vendor/grid.min.css'; // https://github.com/Hilzu/bootstrap-grid

@import './variables.scss';

body {
  margin: 0;
  padding: 0;

  background: $paper;
  font-family: $webFont;
}
