$main: white;
$lowWhite: #f2f2f2;

$gray: #333;
$darkGray: #222;

$cyan: #22a39f;
$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;
$paperDark: #c5c5c5;

$textColor: #434242;
$textColorLight: #4b4b4b;
$textColorHeaven: #a7a7a7;
$textFaded: #8c8c8c;
$textBoldColor: #212121;

$borderDark: #727878;
$borderLight: #c4c4c4;
$borderHeaven: #aeaeae;

// Font ==========================
$webFont: "FontAwesome", Arial, Helvetica, sans-serif;
