// Colors ==========================
$gray: #333;
$darkGray: #222;

$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;

// Font ==========================
$webFont: "FontAwesome", Arial, Helvetica, sans-serif;
