// Colors ==========================
$light: #fafafa;
$dark: #333;
$cyan: #22a39f;

$text: #434242;
$textLight: #a7a7a7;

$border: #727878;
$overcast: #8c8c8c;
$paperDark: #c5c5c5;
$paper: #d5d5d5;

// Font ==========================
$webFont: 'FontAwesome', Arial, Helvetica, sans-serif;
